
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-image: url('../images/loginbackground.jpg'); 
    background-position: center center;
    background-size: cover; 
    color: #333;
}

form {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    max-width: 270px;
    background-color: rgb(255, 255, 255);
    padding: 20px; 
    border-radius: 10px;
    margin: 0 auto; 
}
    h1 {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 2em; 
        color: #fff;
        padding: 20px;
        text-align: center;
        margin: 0; 
    }

h3 {
    margin: 2%; 
}

.btn-primary {
    width: 100%;
    border: none;
    border-radius: 100px;
    background-image: url('../images/bklogin.jpg');
}

h4 {
    font-size: 170%;
    font-weight: bold;
}

@media(max-width: 780px) {
    body {
        background-size: auto; 
    }

    form {
        width: 90%;
    }
}


